.row.index_row_head
  .col-xs-4.col_1
    .mar_top_20
      = link_to '餐馆管理',admin_index_path
  .col-xs-4.col_1.selected
    .mar_top_20
      标签管理
  .col-xs-4.col_1
    .mar_top_20
      =link_to '图片管理', roll_images_manager_path