%script(lang="javascript" src="/javascripts/admin/update_home_ad_success.js")
#change_success(style="height:10px" )
  .text-center
    %span(style='font-size:30px')
      修改成功！

- session[:success] = nil

