%script(lang="javascript" src="/javascripts/merchants/merchant_update_success.js")

#change_success
  .text-center
    %span(style='font-size:30px')
      信息更新成功！

- session[:merchant_update_success] = nil