%script(lang="javascript" src="/javascripts/merchants/merchant_update_success.js")

#change_success
  .modal-body
    %button.close#close(type="button")
    .text-center
      %span(style='font-size:30px')
        信息更新成功！

- session[:modify_dish_success] = nil