%body(background=@bg)
  =render 'show/show_header'
  .container.home_container.content
    .h_row_1(style="margin-top:20px;padding:20px 40px" )
      =raw @terms_conditions
  =render 'show/show_footer'