%script(lang="javascript" src="/javascripts/show/forget_password.js")
%body(background=@bg)
  .form(onkeypress="enter_recover_password(event)" )
    %br
    .input-group(style="width:100%" )
      %span.input-group-addon(style="width:25%" )
        邮箱
      %input.form-control#email
    %br
    #err
    %br
    %button.btn-local#recover_password(onclick="recover_password()" )
      找回密码
