%body(background=@bg)
  %script(lang="javascript" src="/javascripts/show/home.js")

  =render 'show/show_header'
  .container.home_container.content
    .row.h_row_1
      .row
        .col-xs-12
          =render "show/roll_images"
      .row(style="margin-bottom: 20px;padding:0" )
        .col-xs-2
        .col-xs-7(style="padding:0" )
          %input.source_input#search_location_input(placeholder="请输入Suburb或Postcode，如：Sydney-2000" onkeydown='enter_search_location_btn(event)')
        .col-xs-1(style="padding-left: 10px;" )
          .source_btn#search_location_btn(onclick="home_search()" )
            搜索
        .col-xs-2
      .row.h_row_3
        .col-xs-12.h_col_2(style="border-bottom: 1px solid #e0e0e0;width: 97%;margin-left: 10px;" )
          %font.h_font_1
            查看餐厅
      .row
        .col-xs-2
        .col-xs-9(style="margin-left:-35px" )
          =render "show/home_site_restaurant_list"
        .col-xs-2
      .row.h_row_3
        .col-xs-12.h_col_2(style="border-bottom: 1px solid #e0e0e0;width: 97%;margin-left: 10px;" )
      .row
        .col-xs-2
        .col-xs-9(style="margin-left:-35px" )
          =render "show/ad_position_id"
        .col-xs-2
  =render 'show/show_footer'