%script(lang="javascript" src="/javascripts/show/modify_password.js")
%body(background=@bg)
  .form(onkeypress="enter_recover_password(event)" )
    %br
    .input-group(style="width:100%" )
      %span.input-group-addon(style="width:25%" )
        用户名
      .form-control#m_name(disabled="disabled" style="text-align:left" )
        =@name
    %br
    .input-group(style="width:100%" )
      %span.input-group-addon(style="width:25%" )
        密码
      %input.form-control#m_password(type="password" )
    %br
    .input-group(style="width:100%" )
      %span.input-group-addon(style="width:25%" )
        再次输入密码
      %input.form-control#m_password_confirmation(type="password" )
    %br
    #m_err
    %br
    %button.btn-local#recover_password(onclick="modify_password()" )
      确认
