%body(background=@bg)
  %meta{:content => "3;URL=/home", "http-equiv" => "refresh"}
  %h1.submit_success
    已将注册申请提交，请耐心等待管理员审批通过
  %h2.submit_success
    页面自动跳转中，您也可点击
    %a(href="/home" )
      这里
    返回主页