.header{
  margin-top: 0px;
  background-color: #FCFCFC;
  height: 75px;
  width: 100%;
}
body{
  margin: 0px;
}
.left-1{
  position: absolute;
  left: 120px;
  top: 30px;
}
.right-2{
  position: absolute;
  right: 30px;
  top: 50px;
}
.padding-top-8{
  padding-top: 8px;
}
.width-200{
  width:200px !important;
}
.X_mark{
  position: absolute;
  float: right;
  font-size: 20px;
  margin-left: -20px;
}
.roll_row_1{
  width: 700px;
  margin:40px auto !important;
  text-align:center
}
.roll_row_2{
  width: 1000px;
  margin:40px auto !important;
  text-align:center
}
.set_text{
  width: 750px;
  height: 250px;
  margin: 40px 15px;
}
#editor {
  max-height: 400px;
  height: 400px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px; border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px; border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}
#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
.editor_local_1{
  margin: 30px;
}
.alert_local{
  color: #a94442;
  font-size: 30px;
  margin-left: 50px;
}
