.header
  %a.header-left.cursor-pointer(href='/home')
    -if @site_photo && @site_photo.photo_2.url != "/photo_2s/original/missing.png"
      =image_tag @site_photo.photo_2.url , :style=>'width:100px;'
