<!DOCTYPE html>
<html>
<head>
  <link rel="shortcut icon" type="image/gif" href="eat.jpg" >
  <title>吃货天堂-悉尼美食</title>
  <meta tag = "description" content = "吃货天堂为广大吃货朋友们而创建的，我们的宗旨是以最便捷的方式将悉尼的私房美食信息送到吃货们的眼前。不用走遍大街小巷就可以将美食纳入口中。我们是一个年轻的团队，我们进取，我们有活力。但是最重要的是我们都有一颗探索美食的心。亲爱的吃货们，在我们共同分享悉尼美食的同时，我们更需要您们的关注与支持">
  <meta tag = "keywords" content = "吃货天堂,悉尼吃货天堂,eatparadise,eat paradise，sydney take away,take away,悉尼饭馆,悉尼饭店,悉尼网上订餐,悉尼订餐">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<%= yield %>

</html>
